*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
#top-bar{
    height:40px;
    width:100%;
    background-color:rgb(219, 120, 62);
    overflow:hidden;
    position:fixed;
    top: 0;
    left: 0;
    min-height:35px;
    align-items: center;
    color:black;
    font-size:20px;
    z-index: 100;
    display: flex;
    justify-content: space-between;

}
.name{
    color:aliceblue;
    font-size:22px;
    padding-left: 5px;
}
#top-bar a{
    display: inline-block;
    color:aliceblue;
    text-align: center;
    padding: 9px 14px;
    text-decoration: none;
}
#top-bar a:hover{
    background-color:burlywood;
    color:black;
}
#top-bar a:active{
    background-color:lightslategray;
    color:bisque;
}
#top-bar #nav-items{
    text-align:right;
}
#top-bar p{
    text-align: left;
    
}
.intro{
    width:100%;
    background-color:lightslategray;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    text-align:center;
}
.intro h1{
    font-size:4rem;
    color:rgb(160, 17, 46);
    font-family:Arial, Helvetica, sans-serif;
}
.intro p{
    font-size:1rem;
    font-style:italic;
    color:rgb(175, 146, 50);
    font-family:'Courier New', Courier, monospace;
    text-shadow: 1px 1px 1px rgb(74, 79, 47);
}
.section-container{
    width: 100%;
    height:580px;
    padding-top:70px;
}
.services-info{
    grid-template-columns: minmax(150px,250px) minmax(150px,250px) minmax(150px,250px);
    grid-template-rows: minmax(150px,250px) minmax(150px,250px) minmax(150px,250px);
    column-gap: 20px;
    row-gap: 25px;
    display:grid;
    overflow:hidden;
    word-wrap:break-word;
}
#work{
    height:580px;
    width: 100%;
    background-color:bisque;
    padding: 10px;
    padding-top:70px;
}

#skills{
    height:580px;
    width: 100%;
    background-color:rgb(170, 119, 82);
    padding: 10px;
    padding-top:70px;
}
#sk-list .sk-subtitle{
    list-style-type: none;
}

.feedback{
    display: grid;
    width: 100%;
    height:580px;
    grid-template-columns: fit-content(100px) fit-content(100px) 1fr;
    grid-template-rows: fit-content(100px) fit-content(100px) 1fr;
    column-gap: 20px;
    row-gap: 25px;
    background-color:lightcyan;
    padding: 12px;
    font-style: italic;
    padding-top:70px;
}
.testmonial{
    background-color:cornflowerblue;
    box-shadow: 10px 10px 5px lightblue;
    border-radius:5px;
    padding-top:70px;
}